asgiref==3.6.0
backports.zoneinfo==0.2.1
Brotli==1.0.9
cffi==1.15.1
cfgv==3.4.0
cssselect2==0.7.0
distlib==0.3.7
Django==4.2
django-cors-headers==3.14.0
django-extensions==3.2.3
django-widget-tweaks==1.5.0
filelock==3.12.3
fonttools==4.42.1
html5lib==1.1
identify==2.5.27
nodeenv==1.8.0
Pillow==9.5.0
platformdirs==3.10.0
pre-commit==3.3.3
pycparser==2.21
pydyf==0.7.0
pyphen==0.14.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.7.1
virtualenv==20.24.4
weasyprint==59.0
webencodings==0.5.1
zopfli==0.2.2
