{% extends 'shipping/base.html' %}
{% load widget_tweaks %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group row-md-4 row-md-offset-5 align-center" style="margin-top:30px;">
        <h2><strong>Bill Of Ladings</strong></h2>
            {{ form }}
        <button type="submit" class="btn mt-2 btn-success">
            <span class="glyphicon glyphicon-ok"></span> Get BLs
        </button>
    </div>
</form>

{% if selected_voyage %}
<div class="row justify-content-around col-md-offset-5">
    <div class="col justify-content-around m-1 p-1">
        <div class="row justify-content-around m-1 p-1">
            <h6><strong>Vessel Name:</strong> {{ selected_voyage.vessel.name }}</h6>
            <h6><strong>Voyage No:</strong> {{ selected_voyage.voyage_number }}</h6>
            <h6><strong>Master:</strong> {{ selected_voyage.master_name }}</h6>
            <h6><strong>Next Port of Call:</strong> {{ selected_voyage.next_port_of_call }}</h6>
            <h6><strong>Last Port of Call:</strong> {{ selected_voyage.last_port_of_call }}</h6>
        </div>
        <div class="row justify-content-around m-1 p-1">
            <h6><strong>ETA: </strong> {{ selected_voyage.eta }}</h6>
            <h6><strong>ETB: </strong> {{ selected_voyage.etb }}</h6>
            <h6><strong>ETD: </strong> {{ selected_voyage.etd }}</h6>
        </div>
        <div class="row justify-content-end m-1 p-1">
            <a href="{% url 'get-manifest' selected_voyage.slug %}">
                <button class="btn btn-success"><i class="fa fa-download"></i>Get Manifest</button>
            </a>
        </div>
    </div>
</div>

<form method="POST" action="{% url 'download-bol' selected_voyage.slug %}">
{{formset.management_form}}
{% csrf_token %}
<div class="row justify-content-start m-1 p-1">
    <a href="{% url 'download-bol' selected_voyage.slug %}">
        <button class="btn btn-success"><i class="fa fa-download"></i> Download</button>
    </a>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col"><strong>
            <input class="form-control parent" type="checkbox" name="all" value="1"></input>
        </strong></th>
        <th scope="col"><strong>BL</strong></th>
        <th scope="col"><strong>Mark</strong></th>
        <th scope="col"><strong>No. of Pkg</strong></th>
        <th scope="col"><strong>Description</strong></th>
        <th scope="col"><strong>Weight</strong></th>
        <th scope="col"><strong>Shipper</strong></th>
        <th scope="col"><strong>Consignee</strong></th>
        <th scope="col"><strong>Edit</strong></th>
    </tr>
    </thead>
    <tbody id="service-table-body">
        {% for c in related_bols %}
        <tr>
            <td>
                <input type="checkbox" name={{c.bol_number}} value={{c.slug}} class="form-control child"></input>
            </td>
            <th scope="row">
                <span>{{c.bol_number}}</span>
            </th>
            <td>{{c.mark}}</td>
            <td>{{c.no_of_pkg}} Pkgs</td>
            <td>{{c.description}}</td>
            <td>{{c.weight}} Kgs</td>
            <td>{{c.shipper}}</td>
            <td>{{c.consignee}}</td>
            <td><a href="{% url 'bol-edit' c.slug %}"><button class="btn">🖋️</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
<script>
    const parent = document.querySelector(".parent");
    const children = document.querySelectorAll(".child");

    parent.addEventListener('change', () => {
        const isChecked = parent.checked;

        children.forEach(child => {
            child.checked = isChecked;
        })
    })

    children.forEach(child => {
        child.addEventListener('change', () => {
            if (!child.checked) {
                parent.checked = false;
            }
        })
    })
</script>
{% endif %}

{% endblock %}