{% extends 'shipping/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Container Status</h1>
    <h1 class="h3 mb-0 text-gray-800">Total: {{containers.count}}</h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th><strong>Container No</strong></th>
    <th><strong>Container Status</strong></th>
  </tr>
  </thead>
  <tbody id="formset">
  {% for c in containers %}
  <tr class="formset-form">
    <td>{{ c.container_number }}</td>
    <td>
      {% for status in c.status.all %}
      {% if status.status == False %}
        <span>DeStuffed ({{status.timestamp}}) -> </span>
        {% elif status.status == True %}
        <span>Stuffed ({{status.timestamp}}) -> </span>
      {% endif %}
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}