<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load widget_tweaks %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      href="{% static 'shipping/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{% static 'shipping/css/sb-admin-2.min.css' %}"
      rel="stylesheet"
    />
  <title>Manifest for {{ voyage }}</title>
</head>
<body>
  <div class="wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <h1><strong>ITT SHIPPING (PVT) LIMITED</strong></h1>
      </div>
      <div class="row justify-content-center">
        <div><strong>{{ type }} GENERAL MANIFEST</strong></div>
      </div>
      <div class="row m-2 justify-content-center">
        <div><strong>Manifest of Goods {{ voyage }}</strong></div>
        <div><strong>Colour {{ vessel.flag }} Sailed from {{ voyage.last_port_of_call }} to {{ voyage.next_port_of_call }} ETA ON {{ voyage.eta }}</strong></div>
      </div>

        <table class="table">
          <thead>
          <tr>
            <th scope="col"><strong>BL</strong></th>
            <th scope="col"><strong>Mark</strong></th>
            <th scope="col"><strong>No. of Pkg</strong></th>
            <th scope="col"><strong>Description</strong></th>
            <th scope="col"><strong>Weight</strong></th>
            <th scope="col"><strong>Shipper</strong></th>
            <th scope="col"><strong>Consignee</strong></th>
          </tr>
          </thead>
          <tbody id="service-table-body">
              {% for c in related_bols %}
              <tr>
                  <th scope="row">
                    <span>{{c.bol_number}}</span>
                  </th>
                  <td>{{c.mark}}</td>
                  <td>{{c.no_of_pkg}} Pkgs</td>
                  <td>{{c.description}}</td>
                  <td>{{c.weight}} Kgs</td>
                  <td>{{c.shipper}}</td>
                  <td>{{c.consignee}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  
</body>
</html>