<!DOCTYPE html>
{% load static %} {% load widget_tweaks %}
<html class="noIE" lang="en-US">
  <head>
    <title>RMS</title>

    <!-- meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link
      href="{% static 'shipping/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{% static 'shipping/css/sb-admin-2.min.css' %}"
      rel="stylesheet"
    />
  </head>
  <body id="page-top">
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{% url 'index' %}"
        >
          <!-- <div class="sidebar-brand-icon rotate-n-15">
								<i class="fas fa-laugh-wink"></i>
						</div> -->
          <div class="sidebar-brand-text mx-3">RMS</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">RMS Tools</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-fw fa-anchor"></i>
            <span>Shipping</span>
          </a>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url 'vessel-create' %}"
                >Vessel</a
              >
              <a class="collapse-item" href="{% url 'voyage-create' %}"
                >Voyage</a
              >
              <a class="collapse-item" href="{% url 'service-create' %}"
                >Job Sheet</a
              >
              <a class="collapse-item" href="{% url 'service-type-create' %}"
                >Create Service Type</a
              >
              <a class="collapse-item" href="{% url 'vessel-list' %}">Vessels List</a>
              <a class="collapse-item" href="{% url 'voyage-list' %}">Voyages List</a>
              <a class="collapse-item" href="{% url 'service-list' %}"
                >Service Report</a
              >
              <a class="collapse-item" href="{% url 'company-create' %}">Company</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseCargoUtilities"
            aria-expanded="true"
            aria-controls="collapseCargoUtilities"
          >
            <i class="fas fal fa-truck"></i>
            <span>Cargo</span>
          </a>
          <div
            id="collapseCargoUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url 'consignee-list' %}">Consignee</a>
              <a class="collapse-item" href="{% url 'shipper-list' %}">Shipper</a>
              <a class="collapse-item" href="{% url 'container-list' %}">Container</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseOtherUtilities"
            aria-expanded="true"
            aria-controls="collapseOtherUtilities"
          >
            <i class="fas fal fa-tools"></i>
            <span>Others</span>
          </a>
          <div
            id="collapseOtherUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
            </div>
          </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Stay Connected</div>

        <!-- Nav Item - FB -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://facebook.com/goandamans"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fas fa-facebook fa-lg"></i>
            <span>Facebook</span>
          </a>
        </li>

        <!-- Nav Item - Insta -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://instagram.com/goandamans.in"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa fa-brands fa-instagram"></i>
            <span>Instagram</span>
          </a>
        </li>

        <!-- Nav Item - Logout -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt fa-lg"></i>
            <span>Logout</span>
          </a>
        </li>
        <!-- Divider -->

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    ><b>{{user.first_name | upper}}</b></span
                  >
                  <img
                    class="img-profile rounded-circle"
                    src="{% static 'shipping/images/undraw_profile.svg' %}"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <div class="container-fluid">{% block content%} {% endblock %}</div>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span
                >Made with ❤️ by
                <a href="https://astratechz.com/" target="_blank"
                  >AstraTechZ</a
                ></span
              >
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'shipping/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'shipping/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'shipping/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'shipping/js/sb-admin-2.min.js' %}"></script>

  </body>
</html>
