{% extends 'shipping/base.html' %}
{% load widget_tweaks %}
{% block content %}

<form method="post">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}

<div class="form-row">
{% for field in form.visible_fields %}
  {% if field.label != 'Vessel type' %}
    {% if field.label in foreign_vessel_fields %}
      <div class="form-group col-md-4 col-md-offset-5 align-center foreign-vessel-fields" style="margin-top:30px;">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field|add_class:'form-control' }}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
      </div>

    {% else %}
      <div class="form-group col-md-4 col-md-offset-5 align-center" style="margin-top:30px;">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field|add_class:'form-control' }}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
</div>

<div class="row justify-content-around">
  <div class="form-group col-md-4 col-md-offset-5 align-center">
    <button type="submit" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span> Save
    </button>
    <a href="{% url 'index' %}">
      <button type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span> Cancel
      </button>
    </a>
  </div>
</div>

</form>
<script type="text/javascript">
let dropdown = document.getElementById("id_vessel");
let divs = document.querySelectorAll(".foreign-vessel-fields");

dropdown.addEventListener("change", function () {
  let text = dropdown.options[dropdown.selectedIndex].text;
  let vesselType = text.split("-")[1];
  console.log(vesselType);

  if (vesselType == "FOREIGN") {
    divs.forEach(function (div) {
      div.classList.remove("foreign-vessel-fields");
    });
  } else {
    divs.forEach(function (div) {
      div.classList.add("foreign-vessel-fields");
    });
  }
});
</script>
{% endblock %}
